.about-description{
    width: 78%;
    padding: 3em 3em 3em 1em;
    text-align: left;
    height: 100vh;
    overflow-y: auto;
    .item{
        margin-bottom: 1em;
        h4{
            font-size: 1.3em;
            letter-spacing: .05em;
        }
        p {
            margin-top: .5em;
            padding-left: .5em;
            font-size: 1em;
            letter-spacing: .02em;
            max-width: 82em;
            line-height: 1.4em;
            
        }  
        
        .download-btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
            justify-content: center;
            border: 2px solid var(--primary-color);
            padding: .2em 1em;
            border-radius: 5px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            margin-left: 1em;
            margin-top: .5em;
            p {
                font-size: 1.2em;
                margin: 0;

            }
            svg {
                font-size: 1.5em;
            }
        }
    }

    .item-subcontainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: .5em;
        .sub-item{
            max-width: 50%;
            min-width: 40%;
            &:first-child{
                padding-right: 2em;
            }
            &:last-child{
                position: relative;
                padding: 0 2em;
                &::after{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 1px;
                    background-color: var(--dark-color);
                    opacity: .25;
                }
            }
            h4 {
                font-size: 1.3em;
                margin-bottom: .5em;
                letter-spacing: .05em;

            }
            ul {
                display: flex;
                flex-direction: column;
                list-style-type: disc;
                align-items: flex-start;
                &.experience-list{
                    flex-direction: column-reverse;
                }
                .sub-item-item{
                    margin-left: 1em;
                    margin-bottom: 1em;
                    h5{
                        font-size: 1.1em;
                        letter-spacing: .05em;
                        opacity: .8;
                    }
                    p{
                        margin-left: .5em;
                        font-size: .95em;
                        letter-spacing: .02em;
                        &.position{
                            color: var(--primary-color);
                            font-weight: 600;
                        }
                        &.location, &.duration{
                            opacity: .8;
                            font-weight: 500;
                        }
                    }
                    .responsibilities-list{
                        margin-left: 2em;
                        margin-top: .4em;
                        list-style-type: circle;
                        li{
                            font-size: .9em;
                            letter-spacing: .03em;
                        }
                    }
                }
            }
        }
    }

}