.about-page{
    height: 100vh;
    width: 100%;
    position: relative;
    user-select: text;

    .container{
        display: flex;
        flex-direction: row;
        height: 100%;
        .profile-container {
            width: 22%;
            padding: 1em 4em 1em 5em;
            display: flex;
            flex-direction: column;
            background-color: var(--dark-color);
            height: 100%;
            clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0% 0%);
            color: var(--light-color);
            .profile-img {
                height: auto;
                max-width: 200px;
                // clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            p {
                font-size: 1.1em;
                text-align: left;
                margin-top: .4em;
                letter-spacing: .05em;
                &.name{
                    font-weight: 600;
                    letter-spacing: .05em;
                    font-size: 1.3em;
                }
                &.location{
                    font-size: .9em;
                    margin-bottom: .5em;
                    color: var(--primary-color);
                    font-weight: 500;
                    svg {
                        font-size: 1em;
                    }
                }
                &.sub-info{
                    font-size: .9em;
                    display: flex;
                    flex-direction: column;
                    color: var(--primary-color);
                    font-weight: 500;
                    span {
                        font-weight: 400;
                        color: var(--light-color);
                    }
                }
            }
            h3 {
                margin-top: 2.5em;
                font-size: 1.2em;
                letter-spacing: .1em;
                text-align: left;
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    top: -1em;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 70%;
                    opacity: .2;
                    background-color: var(--light-color);
                }
            }
            ul {
                overflow-y: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: .5em;
                    margin-top: 1em;
                    margin-left: .5em;
                    font-size: .9em;
                    align-items: center;
                    font-weight: 300;
                    letter-spacing: .05em;
                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                        filter: grayscale(100%) invert(100%);
                    }
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}