.contact-form{
    width: 50%;
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    position: relative;
    
    padding-left: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
    &::after{
        position: absolute;
        content: "";
        height: 90%;
        width: 1px;
        background-color: var(--dark-color);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: .25;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-bottom: 2em;
    }
    label{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        .input-label{
            font-weight: 700;
            letter-spacing: .02em;
            margin-bottom: .2em;
            span {
                font-weight: 300;
                font-size: .8em;
            }
        }

        input, textarea {
            outline: 1px solid var(--dark-color);
            max-width: 35em;
            height: 2em;
            background-color: transparent;
            resize: none;
            border-radius: 5px;
            padding: .4em .5em;
            font-weight: 400;
            box-sizing: border-box;
            color: black;
            letter-spacing: .02em;
            cursor: text;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            &:focus{
                outline: 2px solid var(--primary-color);
                background-color: rgba(27, 31, 35, 0.1);
                box-shadow: inset rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

            }
        }   
        textarea{
            min-height: 8em;
            padding: none;
        }


    }
    .success-prompt {
        color: var(--primary-color);
        text-align: center;
        svg{
            font-size: 3em;
        }
        p{
            letter-spacing: .02em;
            line-height: 2em;
            margin-top: 1em;
        }
    }
    .btn-container{
        padding-bottom: 1em;
        button{
            font-size: 1.3em;
            border: 2px solid var(--primary-color);
            padding: .25em 1.2em;
            font-weight: 500;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    }
}