.project-image {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &.none{
        cursor: initial;
        border: 5px solid var(--light-color);
        opacity: .05;
        box-shadow: none;
        &::after{
            display: none;
        }
    }
    &::after{
        position: absolute;
        content: "";
        z-index: 2;
        top: 0;
        left: 0;
        box-shadow: inset 0px 0px 150px rgba(0, 0, 0, 0.55);                    
        height: 100%;
        width: 100%;
        transition: .3s box-shadow ease;
    }
    &:hover::after{
        box-shadow: none;
    }
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
