.projects-page {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: var(--dark-color);
    text-align: left;
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    mix-blend-mode: multiply;
    .page-description{
        width: 20%;
        
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0% 0%);
        background-color: var(--light-color);
        color: var(--dark-color);
        filter: brightness(120%);
        padding: 3em 1em 10em 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            font-size: 4em;
            letter-spacing: .05em;
            line-height: 1.1em;
            text-shadow: 2px 7px 5px rgba(0,0,0,0.20), 
            0px -4px 10px rgba(255,255,255,.20);
        }
        .skills{
            p{
                font-weight: 500;
                letter-spacing: .05em;
            }
    
            ul {
                overflow-y: auto;
                li {
                    display: flex;
                    flex-direction: row;
                    gap: .5em;
                    margin-top: .8em;
                    margin-left: .5em;
                    align-items: center;
                    font-weight: 400;
                    letter-spacing: .05em;
                    opacity: .85;
                    img {
                        height: 20px;
                        width: auto;
                        filter: grayscale(100%);
                    }
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        color: var(--light-color);
        mix-blend-mode: difference;
        opacity: .3;
        font-size: .8em;
        margin-left: 1em;
    }
}
