.update-about-info{
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    flex: 1;
    padding: 1.5em;
    height: fit-content;
    h5 {
        font-weight: 600;
        letter-spacing: .02em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
        border-bottom: 1px solid var(--dark-color);
    }
    div{
        margin-bottom: .5em;
        display: flex;
        width: 100%;
        p{
            text-align: left;
            font-weight: 600;
            letter-spacing: .02em;
        }
        label {
            margin-right: 1em;
            min-width: 24%;
            input {
                width: 100%;
            }
        }

    }
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        align-items: flex-start;
        span {
            text-align: left;
            font-weight: 600;
            letter-spacing: .02em;
        }
        input, textarea {
            box-sizing: border-box;
            text-align: left;
            background-color: rgba(0,0,0,0.05);
            height: 1.5em;
            font-size: 1em;
            width: 100%;
            // margin-left: .5em;
            margin-top: .25em;
            padding: .15em .4em;
            color: var(--primary-color);
            font-weight: 500;
            &:placeholder-shown{
                opacity: .6;
                font-weight: 300;
                font-style: italic;
            }

            &:focus{
                outline: 2px solid var(--primary-color);
            }
        }
        textarea {
            min-height: 6em;
            line-height: 1.3em;
            resize: none;
        }
    }
    p {
        font-weight: 500;
        &.success {
            color: green;
        }
        &.error {
            color: red;
        }
    }
    .save-btn {
        margin-top: 1.5em;
        align-self: flex-end;
        border: 1px solid var(--dark-color);
        padding: .2em .5em;
        font-weight: 500;
        margin-right: 0;
        margin-left: auto;
        width: fit-content;
        font-size: 1.2em;
    }
}