.app {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-bottom));
  user-select: none;
  position: relative;
}

footer{
  text-align: right;
  padding-right: 1em;
  letter-spacing: .05em;
  color: var(--dark-color);
  z-index: 5;
}
