@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&family=Quicksand:wght@300;400;500;600&display=swap');

/* fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* variables */
:root{
  /* --dark-green-color: #283618; */
  --primary-color: rgb(3, 107, 145);
  --secondary-color: rgb(145, 53, 3);
  --light-color: #F9F6EE;
  --dark-color: rgb(35, 35, 35);
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;

}
/* css reset */
*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;

}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ol, ul {
	list-style: none;
  color: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  color: inherit;
  cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
}

input {
  all: unset;
}
.carousel .indicators .indicator-item {

  height: 10px !important;
  width: 10px !important; 
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}